.Footer
    &__menu-item
        display: inline-block
        margin-right: 30px
        font-size: 16px
        margin: 25px 30px 25px 0

        &:hover
            color: #EE3B24
            cursor: pointer

